html, body, h1, h2, h3, h4, h5, h6, p, ul, ol,
dl, dt, dd, figure, figcaption, section, address, table, thead, tbody,
tfoot, tr, th, td, article {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 800px;
    height: 100vh;
    box-sizing: content-box;
}

main {
    background-color: palegreen;
    height: 100vh;
    /* width: inherit; */
    max-width: 800px;
}

header {
    font-size: 3rem;
    min-height: 100px;
    width: 100%;
    background-color: green;
    margin-top: 0px;
    max-width: 800px;
}

img {
    width: 300px;
    height: 100px;
}

header span {
    width: 375px;
    height: 60px;
}


#todo-list {
    list-style-type: none;
}

section {
    justify-content: center;
    display: flex;
}

ul {
    width: 50vw;
}

li {
    display: flex;
    justify-content: space-between;
}

.checkbox-clicked {
    text-decoration: line-through;
    color: red;
}

.delete-btn {
    height: 100%;
}

form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

.todo-div {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
}

span {
    width: 60%;
    font-weight: bold;
}

@media (max-width: 540px){
    .min-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}

@media (min-width: 540px) and (max-width: 960px) {
    .max-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 960px) {
    .max-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}